.wrapper{
    width: 420px;
    color: white;
}

.wrapper h1{
    font-size: 36px;
    margin-left: 100px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 70px;
    margin: 5px 0;
}

.input-box input{
    width: 70%;
    height: 70%;
    border: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 20px 45px 20px 50px;
}

.input-box input::placeholder{
    color: white;
}

.input-box .icon{
    position: absolute;
    right: 385px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 19px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: left;
    font-size: 14px;
    margin: -10px 0 10px;
}

.remember-forgot a{
    margin-left: 45px;
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 4px;
}

.wrapper button{
    width: 70%;
    height: 35px;
    background: rgb(160, 204, 245);
    color: white;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.wrapper .register-link{
    font-size: 14px;
    margin-left: 35px;
    margin-top: 10px;
}

.register-link a{
    color: white;
    text-decoration: none;
}

.register-link a:hover{
    text-decoration: underline;
}